$primary-color: #000000;
$color: #fc5e24;
$color2:#922A94;
$black:#000;
$gray:#393939;
$green_dark:#8DBE99;
$green_light:#69B17B;
$green:#27AE60;
$dark_gray:#172330;
$light_gray:#BDBDBD;
$red:#EB5757;
$light:#fff;
$light1:#F2F2F2;
$font: 'Regular';
$shadow: 0 4rem 3rem rgba($black, 0.05);
$shadow2: 0 0.7rem 3.5rem -0.5rem rgba($black, 0.1), 0 -0.5rem 1rem -0.6rem rgba($black, 0.1);
$shadow3: 0.5rem 0.8rem 4.6rem 0.5rem rgba(96, 49, 217, 0.1);